<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <th:block th:object="${produit}" >
        <h1 th:text="| Produit d'id: *{id} |"> </h1>
        <p th:text="|marque: *{marque}|">VrimVroom</p>
        <p th:text="|modele: *{modele}|">BipBoup</p>
        <p th:text="*{enVente} ? 'disponible' : 'indisponible'"></p>
        <p th:text="|*{prix} euros|"></p>
    </th:block>


    <p><a href="/produit">retour</a></p>
</body>
</html>