<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <th:block th:replace="~{ lay :: text_frag('mon titre perso', ~{::formulaire}) }">
        <form action="" method="post" th:fragment="formulaire">

            <label>nom</label>
            <input type="text"><br>

            <label>prenom</label>
            <input type="text"><br>

            <button type="submit">envoyer</button>

        </form>
    </th:block>




</body>
</html>